<html>
	<head>
<% content_for :title do %>
  Display all users
<% end %>
	</head>
	<body>
		<h1>Index of Users</h1>
		<a href="<%= new_user_path %>">Create New User</a></p>
		<table border='1'>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>E-mail Address</th>
					<th>Display User Page</th>
					<th>Edit User Information</th>
					<th>Eradicate User's Existence</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr><td> <%= user.first_name %> </td>
					<td> <%= user.last_name %> </td>
					<td> <%= user.email_address %> </td>
					<td> <a href=<%= user_path(user.id) %>> Click Here</a></td>
					<td> <a href="<%= user_path(user.id) %>/edit"> Edit User <% user.id %></a></td>
					<td> <form action="<%= user_path(user.id) %>" method ="post">
							<input type="hidden" name="_method" value="delete" />
							<input type="submit" value="Delete User" />
						</form></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</body>
</html>