<% content_for :title do %>
  Display User
<% end %>

<h1> Information for User <%=@user.id %></h1>
<p> <b>First Name:</b> <%= @user.first_name %></p>
<p> <b>Last Name:</b> <%= @user.last_name %></p>
<p> <b>E-mail address:</b> <%= @user.email_address %></p>
<p> <b>Password:</b> <%= @user.password %></p>
<p><a href="../users/">Return to Index of Users</a></p>
